:root {
    /*==== Couleurs ====*/
    --color-blue: #2871b9;
    --color-white: #fdfdfd;
    --color-black: #000000;

    /*==== Typographie ====*/
    --font-size-sm: 1.4rem;
    --font-size-base: 1.8rem;
    --font-size-lg: 2rem;
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.6rem;
    --font-size-h3: 2.2rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /*==== Ombres & Bordures ====*/
    --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.15);
    --shadow-strong: 0 8px 16px rgba(0, 0, 0, 0.2);

    --border-radius-sm: 0.6rem;
    --border-radius-md: 1.2rem;
    --border-radius-lg: 2rem;
    --border-radius-pill: 50px 50px 50px 50px;
    --border-radius-round: 50%;

    /*==== Espacements ====*/
    --space-xs: 0.5rem;
    --space-sm: 1.2rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;
    --space-xxl: 4.8rem;
}

/*==================================
// 1. BASIC STYLES
==================================*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color-white);
    font-size: var(--font-size-base);
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
    margin: 0;
    padding: 0;

    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Images et vidéos fluides */
img, video {
  max-width: 100%;
  height: auto;
  contain: content;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-xl) var(--space-lg);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    margin-bottom: var(--space-md);
    margin-top: var(--space-xxl);
    text-align: center;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    margin-bottom: var(--space-md);
    text-align: center;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    margin-bottom: var(--space-md);
    text-align: center;
}

p {
    font-size: var(--font-size-base);
    padding: var(--space-xs);
}

/*==================================
// 2. HEADER SECTION
==================================*/
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-sm);
    background: var(--color-white);
    border-bottom: 2px solid var(--color-black);
}

.header-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-xs);
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-xs);
}

.contact-phone, 
.contact-mail {
    display: flex;
    align-items: center;
}

.contact-phone > p, 
.contact-mail > p {
    padding: 0;
    margin: 0;
}

.svg-div {
    width: 50px;
    height: 50px;
    color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
}

.svg-div > svg {
    width: 100%;
    height: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.header-nav > a {
    text-decoration:  none;
    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    transition: all 0.2s ease-out;
}

.header-nav > a:hover {
    color: var(--color-blue);
}

/*=============================================
    3. HERO SECTION 
=============================================*/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-img {
    padding-top: var(--space-xxl);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-img.active {
    opacity: 1;
}

/*=============================================
    4.  FLOATING BUTTON
=============================================*/

/* Texte caché par défaut */
.fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 999;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    padding: var(--space-sm) var(--space-md);
    background: var(--color-blue);
    border-radius: 999px;
    
    box-shadow: 0 10px 30px rgba(0,0,0,.35);
    text-decoration: none;
    
    transition: all .35s ease;
}

.fab img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.fab span {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;

    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium) ;

    opacity: 0;
    transition: all .35s ease;
}

/* Hover = texte visible */
.fab:hover span {
    max-width: 220px;
    opacity: 1;
}

/* Micro feedback */
.fab:hover {
    background: var(--color-blue);
    transform: translateY(-2px);
}

/* Mobile : icône seule */
@media (max-width: 768px) {
    .fab span {
        display: none;
    }
}


/*=============================================
    5. ABOUT SECTION 
=============================================*/
.about-contain {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: start;
}

.about-contain > .text-about {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text-about > p {
    margin: var(--space-xs);
}